/*
    Elastic multiple column layout
    using media queries
    adaptive to viewport width using max-width
    possible refinement: use device-width & orientation
    
    For monitor, handheld screen information:
    http://en.wikipedia.org/wiki/List_of_displays_by_pixel_density
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%; /* 10px base unit */
    margin: 0;
    padding: 0;
    line-height: 1;
    background: orange;
    margin: 1em;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 240%;
    column-span: all; /* break out the columns; for now in Opera */
    line-height: 1.1em;
    margin-bottom: .5em;
}

h2 {
    break-after: avoid; /* avoid column breaks right after a heading, for nicer columns; for now in Opera */
}

h2, h3, h4, h5, h6 {
    font-size: 200%;
    line-height: 1.1em;
    margin-bottom: .5em;
}

p {
    font-size: 160%;
    line-height: 1.3em;
    margin-bottom: .5em;
}

h1 + p, p:last-child {
    padding-left: 1em;
    font-style: italic;
    column-span: all; /* break out the columns; for now in Opera */
}

p:last-child {
    margin-top: 1em;
    text-align: right;
}

/*
    Default: 3 columns
*/

.multicol {
    -webkit-columns: 3 auto;
    -webkit-column-gap: 3em;
    -webkit-column-rule: 1px solid orange;
    
    /* It seems the shorthand doesn't work */
    -moz-column-count: 3;
    -moz-column-width: auto;
    -moz-column-gap: 3em;
    -moz-column-rule: 1px solid orange;
    
    columns: 3 auto;
    column-gap: 3em;
    column-rule: 1px solid orange;
    
    column-fill: balance; /* let the browser balance the content between columns; for now in Opera */
    
    padding: 2em;
    min-width: 20em;
    margin: 0 auto;
    background: #fff;
    
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

/*
    For giant screens: 4 columns
*/

@media screen and (min-width: 100em) {
    
    .multicol {
        -webkit-columns: 4 auto;
        -moz-column-count: 4;
        columns: 4 auto;
    }
}

/*
    For small screens: 2 columns
*/

@media screen and (max-width: 60em) {
    
    .multicol {
        -webkit-columns: 2 auto;
        -moz-column-count: 2;
        columns: 2 auto;
    }
}

/*
    For really small screens: 1 column
*/

@media screen and (max-width: 30em) {
    
    .multicol {
        -webkit-columns: 1 auto;
        -webkit-column-gap: 0;
        -moz-column-count: 1;
        -moz-column-gap: 0;
        columns: 1 auto;
        column-gap: 0;
    }
}