// variables

@default_heading: 140%;
@default_content_width: 1000px;
@default_panel_width: 300px;
@default_heading_font: 'Pacifico', Arial, Helvetica, sans-serif;
@default_paragraph_font: 'Quattrocento Sans', Arial, Helvetica, sans-serif;

// mixins

.default_gradient (@from: #f5f5f5, @to: #E6DADF) {
    background: @from;
    background: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
    background: -moz-linear-gradient(top,  @from,  @to);
}

.default_text_shadow (@color: #fff) {
    text-shadow: @color 1px 1px 1px;
}

.default_box_shadow (@shadow_color: #888, @left: 1px, @top: 1px, @blur: 3px) {
    @val: @left @top @blur @shadow_color;
    
    -moz-box-shadow: @val;
    -webkit-box-shadow: @val;
    box-shadow: @val;
}

.default_panel (@panel_width: @default_panel_width, @panel_padding: 10px, @panel_margin: 10px) {
    margin: @panel_margin;
    padding: @panel_padding;
    width: @panel_width - (@panel_margin + @panel_padding) * 2;
    .default_gradient;
    .default_box_shadow;
    .default_rounded;
}

.default_link () {
    color: #D5005D;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.default_rounded (@radius: 10px) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}

.animated (@property: all, @timing: 1s, @function: ease-in) {
    -moz-transition: @property @timing @function;
    -webkit-transition: @property @timing @function;  
    -moz-transition: @property @timing @function;  
    -o-transition: @property @timing @function;  
    transition: @property @timing @function;
}

// doesn't work without width applied
.centered (@width: auto) {
    margin: 0 auto;
    width: @width;
}

// styles

body {
    font-family: @default_paragraph_font;
    background: #A69994;
    overflow: hidden;
}

h1, h2, h3 {
    font-family: @default_heading_font;
}

h1 {
    font-size: @default_heading;
}

h2 {
    font-size: @default_heading - 10;
}

h3 {
    font-size: @default_heading - 20;
}

h4, h5, h6 {
    font-size: @default_heading - 30;
}

a {
    .default_link;
}

.content {
    .centered(@default_content_width);
}

#sidebar {
    float: left;
    width: @default_panel_width;
}

#content_main {
    float: left;
    margin-left: 10px;
    position: relative;
}

.panel {
    .default_panel;
    
    h1 {
        margin-bottom: 10px;
        color: #635650;
        text-align: center;
        .default_text_shadow;
    }
    
    ul {
        list-style: none;
        
        li {
            padding: 1px 0;
            
            &:first-child {
                padding-top: 0;
            }
            
            &:last-child {
                padding-bottom: 0;
            }
            
            a {
                display: block;
                padding: 5px 7px;
                text-decoration: none;
                font-weight: bold;
                
                .default_rounded(5px);
                .default_text_shadow;
                .animated(padding, .1s);
                
                &:hover {
                    .default_gradient(#fefefe, #ddd);
                    .default_box_shadow;
                    color: #635650;
                    padding-left: 14px;
                    font-weight: bold;
                }
            }
        }
    }
    
}

article {
    
    .meta {
        margin: 0 0 .7em;
        font-style: italic;
        font-size: 90%;
        text-align: center;
    }
    
    .author {
        font-weight: bold;
        font-style: normal;
    }
    
    .lead {
        line-height: 1.5em;
        
        p {
            padding-bottom: 1em;
            
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    
    &.panel {
    .default_panel(500px);
    .animated(opacity, .5s, ease-in-out);
    
    position: absolute;
    left: -10000px;
    opacity: 0;
    
        &:target {
            position: static;
            opacity: 1;
        }
        
        h1 {
            margin: .5em 0 1.5em;
            font-size: @default_heading + 30;
            color: #635650;
        }
        
    }

    footer {
        .default_rounded;
        .default_gradient;
        
        padding: .5em;
        margin-top: .5em;
        
        p:last-child {
            text-align: center;
        }
        
    }
}
    