@import 'lessities';

/*
    Elastic multiple column layout using media queries
    Adaptive to viewport width using max-width
    Possible refinement: use device-width & orientation
    
    For monitor, handheld etc. screen information:
    http://en.wikipedia.org/wiki/List_of_displays_by_pixel_density
*/

h1 {
    column-span: all; /* break out the columns; for now in Opera */
}

h2 {
    break-after: avoid; /* avoid column breaks right after a heading, for nicer columns; for now in Opera */
}

p {
    
    &:last-child {
        margin-top: 1em;
        text-align: right;
        padding-left: 1em;
        font-style: italic;
        column-span: all; /* break out the columns; for now in Opera */
    }
    
    strong {
        font-weight: bold;
    }
}

h1 + p {
    padding-left: 1em;
    font-style: italic;
    column-span: all; /* break out the columns; for now in Opera */
}

/*
    Default: 3 columns
*/

.wrapper {
    .multiple_columns;
    min-width: 20em;
}

/*
    For giant screens: 4 columns
*/

@media screen and (min-width: 100em) {
    .wrapper {
        .multiple_columns(4)
    }
}

/*
    For small screens: 2 columns
*/

@media screen and (max-width: 60em) {
    .wrapper {
        .multiple_columns(2);
    }
}

/*
    For really small screens: 1 column
*/

@media screen and (max-width: 30em) {
    .wrapper {
        .multiple_columns(1, auto, 0);
    }
}