/*
    using relative units (em)
    base unit is 16px set by user agent and reset with 100%
    
    layout: centered, fluid grid
    | heading | 24
    | left panel | right panel | 8 / 16
               | left content | right info | 12 / 4
    | footer | 24
    
    fonts:
    heading: 24px, paragraph: 16px, list items: 14px
    
    colors: 
    
*/

// variables

@default_heading: 1.5em; // 24px
@default_content_width: 60em; // 960px;
@default_panel_width: 19.375em;

@default_heading_font: 'Pacifico', Arial, Helvetica, sans-serif;
@default_paragraph_font: 'Quattrocento Sans', Arial, Helvetica, sans-serif;

// mixins

.default_gradient (@from: #f5f5f5, @to: #ddd) {
    background: @from;
    background: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
    background: -moz-linear-gradient(top,  @from,  @to);
}

.default_text_shadow (@color: #fff) {
    text-shadow: @color 1px 1px 1px;
}

.default_box_shadow (@shadow_color: #888, @left: 1px, @top: 1px, @blur: 3px) {
    @val: @left @top @blur @shadow_color;
    
    -moz-box-shadow: @val;
    -webkit-box-shadow: @val;
    box-shadow: @val;
}

.default_panel (@panel_width: @default_panel_width, @panel_padding: 0.625em, @panel_margin: 0) {
    margin: @panel_margin;
    padding: @panel_padding;
    width: @panel_width - (@panel_margin + @panel_padding) * 2;
    .default_gradient;
    .default_box_shadow;
    .default_rounded;
}

.default_link () {
    color: #D5005D;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.default_rounded (@radius: 10px) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}

.animated (@property: all, @timing: 1s, @function: ease-in) {
    -moz-transition: @property @timing @function;
    -webkit-transition: @property @timing @function;  
    -moz-transition: @property @timing @function;  
    -o-transition: @property @timing @function;  
    transition: @property @timing @function;
}

// doesn't work without width applied
.centered (@width: auto, @min_width: inherit) {
    margin: 0 auto;
    width: @width;
    min-width: @min_width;
}

.multi_col (@count: 3, @gap: 1em, @rule: none, @width: auto) {
    -webkit-columns: @count @width;
    -webkit-column-gap: @gap;
    -webkit-column-rule: @rule;
    
    -moz-columns: @count @width;
    -moz-column-gap: @gap;
    -moz-column-rule: @rule;
    
    columns: @count @width;
    column-gap: @gap;
    column-rule: @rule;
}

// styles

body {
    font-family: @default_paragraph_font;
    //background: url(grid.png) repeat-y 50% 0;
}

h1, h2, h3 {
    font-family: @default_heading_font;
}

h1 {
    font-size: @default_heading;
}

h2 {
    font-size: @default_heading - .1;
}

h3 {
    font-size: @default_heading - .2;
}

h4, h5, h6 {
    font-size: @default_heading - .3;
}

a {
    .default_link;
}

#wrapper {
    .centered(@default_content_width);
    
    > header, > footer {
        width: 100%;
        height: 4.375em;
    }
    
    > footer ul {
        list-style: none;
        
        li {
            display: inline-block;
        }
    }
}

#content {
    overflow: hidden;
    margin: 0.625em 0.3125em;
}

#sidebar {
    float: left;
    width: @default_panel_width;
}

#content_main {
    float: left;
    margin-left: 10px;
    position: relative;
}

.panel {
    .default_panel;
    
    h1 {
        margin-bottom: 10px;
        color: #635650;
        text-align: center;
        .default_text_shadow;
    }
    
    ul {
        list-style: none;
        
        li {
            padding: 1px 0;
            
            &:first-child {
                padding-top: 0;
            }
            
            &:last-child {
                padding-bottom: 0;
            }
            
            a {
                display: block;
                padding: 5px 7px;
                text-decoration: none;
                font-weight: bold;
                
                .default_rounded(5px);
                .default_text_shadow;
                .animated(padding, .1s);
                
                &:hover {
                    .default_gradient(#fefefe, #ddd);
                    .default_box_shadow;
                    color: #635650;
                    padding-left: 14px;
                    font-weight: bold;
                }
            }
        }
    }
    
}

article {
    
    .meta {
        margin: .6em 0 .7em;
        font-style: italic;
        font-size: 90%;
        text-align: center;
    }
    
    .author {
        font-weight: bold;
        font-style: normal;
    }
    
    .lead {
        line-height: 1.5em;
        
        p {
            padding-bottom: 1em;
            
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    
    &.panel {
    .default_panel(39.375);
    .animated(opacity, .5s, ease-in-out);
    
    position: absolute;
    left: -10000px;
    opacity: 0;
    
        &:target {
            position: static;
            opacity: 1;
        }
        
        h1 {
            margin: .5em 0 1.5em;
            font-size: @default_heading + .5;
            color: #635650;
        }
        
    }

    footer {
        .default_gradient;
        
        border-top: 1px solid rgba(166, 153, 148, .3);
        padding: .5em;
        margin-top: 1em;
        
        p:last-child {
            text-align: center;
        }
        
    }
}
    